<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="class-header">
      <h3>Nuevo Inmueble</h3>
    </div>
    <div class="card-body">
      <form action="/misinmuebles/new" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <span><strong>Nombre</strong></span>
          <input type="text" name="name" class="form-control" placeholder="Name" autofocus required>
        </div>
        <div class="form-group">
          <span><strong>Descripcion</strong></span>
          <input type="text" name="description" class="form-control" placeholder="Descripcion" autofocus required>
        </div>
        <div class="form-group">
          <span><strong>Precio</strong></span>
          <input type="float" name="price" class="form-control" placeholder="250" required>
        </div>
        <div class="form-group">
          <span><strong>Direccion</strong></span>
          <input type="text" name="adress" class="form-control" placeholder="Direccion" autofocus required>
        </div>
        <div class="form-group">
          <span><strong>Ciudad</strong></span>
          <input type="text" name="city" class="form-control" placeholder="Ciudad" autofocus required>
        </div>
        <div class="form-group">
          <span><strong>Estado</strong></span>
          <input type="text" name="state" class="form-control" placeholder="VC = Valle Del Cauca" autofocus required>
        </div>
        <div class="form-group">
          <span><strong>Zip</strong></span>
          <input type="text" name="zip" class="form-control" placeholder="76004" autofocus required>
        </div>
        <div class="form-group">
          <span><strong>Ciudad</strong></span>
          <input type="text" name="country" class="form-control" placeholder="CL = Colombia" autofocus required>
        </div>
        <div class="custom-file mb-3">
          <input type="file" class="custom-file-input" name="photo" required>
          <label class="input-group-text custom-file-label" for="customFile">Choose Image</label>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
